<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="./stylesheets/css/style.css">
  <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</head>

<body>

  <header>
    <p>
      <h1 class="title">Dardan's Projects</h1>
      <br> contact@dardan.me
      <br>
      <a href="posts">Blog</a>
    </p>
  </header>

  <div id="projects">

    <div class="project swift-cat app-cat">
      <h1 class="strip app-strip">Guessor</h1>
      <p class="p-desc">
        Game built with Swift 3 & Xcode
      </p>
      <a href="https://github.com/dardanm/Guessor">
          <img class="img-preview" src="./img/preview-guessor.gif">
						</a>
    </div>

    <div class="project swift-cat app-cat">
      <h1 class=" strip app-strip">ThumbList</h1>
      <p class="p-desc">
        Notes/To-Do App built with Swift 3 & Xcode
      </p>
      <a href="https://github.com/dardanm/ThumbList">
          <img class="img-preview" src="./img/preview-thumblist.gif">
						</a>
    </div>

    <div class="project swift-cat app-cat">
      <h1 class=" strip app-strip">Tippy</h1>
      <p class="p-desc">
        Tips calculator built with Android
      </p>
      <a href="https://github.com/dardanm/Tippy3">
          <img class="img-preview" src="./img/preview-tips.gif">
            </a>
    </div>

    <div class="project swift-cat app-cat">
      <h1 class=" strip app-strip">Sleep Calculator</h1>
      <p class="p-desc">
        Sleep calculator built with Android
      </p>
      <a href="https://github.com/dardanm/BedTimeCalculator">
          <img class="img-preview" src="./img/preview-sleep-calc.gif">
            </a>
    </div>

    <div class="project app-cat">
      <h1 class=" strip app-strip">WeatherFinder</h1>
      <p class="p-desc">
        Weather app built with React.js
      </p>
      <a href="http://weather-finder-dm.herokuapp.com">
          <img class="img-preview" src="./img/preview-weatherfinder.gif">
            </a>
    </div>

    <!-- end projects -->
  </div>


  <!-- end content -->
  </div>

  <div id="footer">© 2017 Dardan</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="scripts/toggle-buttons.js"></script>

</body>

</html>