<!DOCTYPE html>
<html>

<header>
  <link rel="stylesheet" type="text/css" href="./stylesheets/css/style.css">
  <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</header>

<body>

  <div id="contents">
    <a href="form">Create New Post</a></br>
    </br>

    <% for(var i = 0; i < rows.length; i++) { %>
      <div class="post">
        <h1 class="post-title"><%= [i+1] + '. ' + rows[i].title;%></h1>
        </br>
        <p class="post-body">
          <%= rows[i].body;%>
        </p>
        </br>
        </br>
      </div>
      <% } %>
  </div>

</body>

</html>