<!DOCTYPE html>
<html>

<header>
  <link rel="stylesheet" type="text/css" href="./stylesheets/css/style.css">
  <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</header>

<body>

  Post submited!
  </br>
  </br>
  <a href="posts">View All Posts</a>


</body>

</html>